<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body ng-app="myapp">

    <div class="container">
        <div ng-controller="myctrl">
            <div class="row">
                <script>
                    var app = angular.module("myapp", []);
                    app.controller("myctrl", function ($scope) {
                        $scope.calculate = function () {
                            var a = parseFloat($scope.lenght);
                            var b = parseFloat($scope.width);
                            $scope.acreage = a * b;
                            $scope.perimeter = (a + b) * 2;
                        }
                    });
                </script>
                <h1 class="col-sm-6 text-center">Tính diễn tích, chu vi hình chữ nhật</h1>
                <form class="col-sm-6">
                    <div class="form-group">
                        <label for="">Nhập độ dài (m)</label>
                        <input type="text" ng-model="lenght" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Nhập độ rộng (m)</label>
                        <input type="text" ng-model="width" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Diện tích (m)</label>
                        <input type="text" value="{{acreage}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Chu vi (m)</label>
                        <input type="text" value="{{perimeter}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="calculate()" class="btn btn-primary">Tính</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>