<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body ng-app="myapp">

    <div class="container">
        <div ng-controller="myctrl">
            <div class="row">
                <script>
                    var app = angular.module("myapp", []);
                    app.controller("myctrl", function ($scope) {
                        $scope.student = {};
                        $scope.save = function () {
                            var a = parseFloat($scope.student.mark);
                            if(a > 5){
                                $scope.student.grade = "Đậu";
                            }else{
                                $scope.student.grade = "Rớt";
                            }
                        }
                    });
                </script>

                <h1 class="col-sm-6 text-center">Nhập trông tin sinh viên</h1>
                <form class="col-sm-6">
                    <div class="form-group">
                        <label for=""><strong>Họ và tên</strong></label>
                        <input type="text" ng-model="student.fullname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Ngày sinh</strong></label>
                        <input type="date" ng-model="student.birthday" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Giới tính</strong></label>
                        <select ng-model="student.gender" class="form-control">
                            <option>Nam</option>
                            <option>Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Điểm</strong></label>
                        <input type="text" ng-model="student.mark" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Học lực</strong></label>
                        <input type="text" value="{{student.grade}}" class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" ng-click="save()" class="btn btn-primary">Grade</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>