<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" ng-app="myapp">
        <div class="row" ng-controller="myctrl">

            <div class="col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="">Họ và tên:</label>
                        <input type="text" ng-model="student.fullname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Ngày sinh:</label>
                        <input type="text" ng-model="student.birthday" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Điểm trung bình:</label>
                        <input type="text" ng-model="student.mark" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="save()" ng-show="index == -1">Add</button>
                        <button type="button" class="btn btn-secondary" ng-click="update()" ng-hide="index == -1">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="delete()" ng-hide="index == -1">Delete</button>
                        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Họ và tên</th>
                            <th>Ngày sinh</th>
                            <th>Điểm</th>
                            <th>Xếp loại</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="st in students">
                            <td scope="row">{{st.fullname}}</td>
                            <td>{{st.birthday}}</td>
                            <td>{{st.mark}}</td>
                            <td>
                                <span ng-if="st.mark < 5">Yếu/Kém</span>
                                <span ng-if="st.mark >= 5 && st.mark <= 8">Trung bình/Khá</span>
                                <span ng-if="st.mark > 8">Giỏi/Xuất xắc</span>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="#" ng-click="edit($index)">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <script>
            var app = angular.module("myapp", []);
            app.controller("myctrl", function ($scope) {
                $scope.students = [
                    {
                        fullname: "Nguyễn Văn A",
                        birthday: "20/01/2000",
                        mark: "7.25"
                    },
                    {
                        fullname: "Bùi Thị B",
                        birthday: "12/10/2001",
                        mark: "8.00"
                    },
                    {
                        fullname: "Hoàng Quốc C",
                        birthday: "07/11/2000",
                        mark: "9.75"
                    }
                ];
                $scope.student = {};
                $scope.index = -1;

                $scope.clear = function () {
                    $scope.student = {};
                    $scope.index = -1;
                }
                $scope.save = function () {
                    $scope.students.push(angular.copy($scope.student));
                    $scope.clear();
                }
                $scope.update = function () {
                    $scope.students[$scope.index] = angular.copy($scope.student);
                }
                $scope.delete = function () {
                    $scope.students.splice($scope.index, 1);
                    $scope.clear();
                }
                $scope.cancel = function () {
                    if ($scope.index == -1) {
                        $scope.clear();
                    } else {
                        $scope.edit($scope.index);
                    }
                }
                $scope.edit = function (index) {
                    $scope.index = index;
                    $scope.student = angular.copy($scope.students[index]);  
                }
            });
        </script>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>