<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        input.ng-invalid {
            background-image: url('imgTest.jfif');
            background-position: center right;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div class="container" ng-app="myapp" ng-controller="myctrl">
        <div class="card">
            <div class="card-header">
                <h3>THÔNG TIN SINH VIÊN</h3>
            </div>
            <form class="card-body" name="frmBonus">
                <div class="form-group">
                    <label for=""><strong>Họ và tên:</strong></label>
                    <input type="text" ng-model="fullname" name="txtFullname" maxlength="25" class="form-control"
                        required>
                    <span style="color: red;" ng-show="frmBonus.txtFullname.$invalid">Vui lòng nhập họ và tên!</span>
                </div>
                <div class="form-group">
                    <label for=""><strong>Điểm:</strong></label>
                    <input type="number" ng-model="mark" name="txtMark" min="0" max="10" class="form-control">
                    <label style="color: red;" ng-show="frmBonus.txtMark.$invalid">Điểm nhập không hợp lệ!</label>
                </div>
                <div class="form-group">
                    <label for=""><strong>Email:</strong></label>
                    <input type="email" ng-model="mail" name="txtEmail" class="form-control" required>
                    <label style="color: red;" ng-show="frmBonus.txtEmail.$invalid">Email nhập không hợp lệ!</label>
                </div>
                <div class="form-group">
                    <label for=""><strong>Số xe:</strong></label>
                    <input type="text" ng-model="soXe" name="txtSoXe" pattern="2\d-[A-Z]\d-((\d{4})|(\d{3}\.\d{2}))"
                        class="form-control">
                    <label style="color: red;" ng-show="frmBonus.txtSoXe.$invalid">Sai số xe Hà Nội!</label>
                </div>
            </form>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <h4 class="btn btn-success" ng-show="frmBonus.$valid">Thông tin nhập hợp lệ</h4>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", function ($scope) {

        });

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>